.tree-select {
    line-height: normal;
}

.tree-select label {
    position: relative;
    display: block;
    padding: 0 0 0 1.2em !important;
    margin: 0;
}

.tree-select label:not(:nth-last-of-type(1)) {
    border-left: 1px solid #94a5bd;
}

.tree-select label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em;
    height: .5em;
    border-bottom: 1px solid #94a5bd;
}

.tree-select label:nth-last-of-type(1):before {
    border-left: 1px solid #94a5bd;
}

.tree-select fieldset,
.tree-select fieldset[class=""] .razvernut {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0 0 0 2em;
    border: none;
}

.tree-select fieldset:not(:last-child) {
    border-left: 1px solid #94a5bd;
}

.tree-select .razvernut {
    position: relative;
    visibility: visible;
}

.tree-select > fieldset > legend,
.tree-select .razvernut > fieldset > legend {
    position: absolute;
    left: -5px;
    top: 2px;
    height: 10px;
    width: 10px;
    margin-top: -1em;
    padding: 0;
    border: 1px solid #94a5bd;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #fff;
    background-image: linear-gradient(to left, #1b4964, #1b4964), linear-gradient(#1b4964, #1b4964), linear-gradient(315deg, #a0b6d8, #e8f3ff 60%, #fff 60%);
    background-size: 1px 5px, 5px 1px, 100% 100%;
    visibility: visible;
    cursor: pointer;
}

.tree-select fieldset[class=""] .razvernut fieldset legend {
    visibility: hidden;
}

.tree-select .razvernut > legend {
    background-image: linear-gradient(#1b4964, #1b4964) !important;
    background-size: 5px 1px !important;
}

.icon-publish:before {
    color: #fff;
}

/**
Progress bar
 */
.progress-notice {
    background: #fff;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    margin: 15px;
    padding: 1px 12px;
    border-left-color: #2e78ff;
}

.progress-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.progress-label {
    width: 30%;
    min-width: 300px;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    min-width: 100px;
}

.progress-bar {
    height: 1.1rem;
    width: 100rem;
    border-radius: 0.2rem;
    background: #f0f0f1;
    color: #fff;
}

.progress-bar .progress {
    height: 100%;
    border-radius: 0.2rem;
    background: #228b09;
    transition: width 0.4s ease;
    text-align: center;
}